:root {
  --font-family-primary: 'Roboto', sans-serif;

  --font-size-base: 1rem;
  --font-size-scale: 1.25;

  --font-size-xs: calc(var(--font-size-base) * 0.75);
  --font-size-s: calc(var(--font-size-base) * 0.875);
  --font-size-m: var(--font-size-base);
  --font-size-l: calc(var(--font-size-base) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-base) * var(--font-size-scale) * 2);
  --font-size-xxl: calc(var(--font-size-base) * var(--font-size-scale) * 3);

  --line-height-base: var(--font-size-base) * 1.5;
  --line-height-scale: 1.5;

  --line-height-s: var(--line-height-base);
  --line-height-m: calc(var(--line-height-base) * var(--line-height-scale));
  --line-height-l: calc(var(--line-height-base) * var(--line-height-scale) * 2);

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
