.typography {
  font-family: var(--font-family-primary);

  &.dark {
    color: var(--color-dark-900);
  }

  &.light {
    color: var(--color-light-100);
  }
}

.h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);
}

.h2 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-bold);
}

.h3 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
}

.h4 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
}

.body1 {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
}

.body2 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.subtitle1 {
  font-size: var(--font-size-m);
  line-height: 1.5;
  font-weight: var(--font-weight-bold);
}

.subtitle2 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-bold);
}

.caption {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
}

.overline {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
}

.link1 {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-info-500);
}

.link2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-info-500);
}

.error {
  font-size: var(--font-size-m);
  line-height: 1.5;
  font-weight: var(--font-weight-bold);
  color: var(--color-warning-900);
}
